@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IN:wght@100..400&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
}
body{
  font-family: "Playwrite IN", serif;
}